* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    box-sizing: border-box;
}

:root {
  --myBlue: #4a86e8;
  --myGray: #262626;
}

html {
    scroll-behavior: smooth;
}
body {
    background: black;
    color: white;
}

#header {
    width: 100%;
    height: 100vh;
    /* background-image: url(images/background.png);
    background-size: cover;
    background-position: center; */
}

#header p {
  width: 500px;
  text-align: left;
}

#header-socials {
  display: flex;
  justify-content: left;
  margin-top: 1rem;
  gap: 1rem;
}

#profile-img {
  float: right;
  margin-left: 10%;
  width: 40%;
  height: auto;
  max-width: 25rem;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 5%;
}

#blog-header {
  width: 100%;
}
/* h1{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    color: white;
    animation:
        typing 3s steps(30),
        cursor .4s step-end infinite alternate;
}
@keyframes cursor {
    50% { border-color: transparent }
}
@keyframes typing {
    from { width: 0 }
} */

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    width: 140px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #4a86e8;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.header-text {
    margin-top: 10%;
    font-size: 30px;
}
.hey {
    font-size: 60px;
    margin-top: 20px;
    color: white;
}
.right-image { 
    float: right; 
}

/** Contact **/
/* HAMBURGER MENU */

/* About */
#about {
    padding: 80px 0;
    color: white;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-text{
    font-size: 28px;
}
.about-col-1 {
    flex-basis: 35%;
}
.about-col-1 img {
    width: 50%;
    border-radius: 15%;

}
.about-col-2 {
    flex-basis: 60%;
}
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color:white;
}
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative
}
.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #4a86e8;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;

}
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color: #4a86e8;
}
.tab-contents {
    display: none;

}
.tab-contents.active-tab{
    display: block;
}

/** Button **/

.btn {
  margin-top: 1rem;
  transition: all 300ms ease;
  padding: 1rem;
  width: 20rem;
  border-radius: 2rem;
  color: white;
  border: transparent;
}

.btn-color-2 {
  background: var(--myGray);
}

.btn-color-2:hover {
  background: var(--myBlue);
  cursor: pointer;
}



/* other CSS */
nav,
.nav-links {
  display: flex;
}
nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
  
.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}
  
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  footer {
    /* border-top: 1px solid #ccc; */
    height: 26vh;
    margin: 0 1rem;
  }
  
  footer p {
    text-align: center;
  }

/* contact */
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}


/** skills **/x
#skills {
  padding: 30px 0;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.skills-list div {
  background: #262626;
  padding: 40px;
  font-size: 20px;
  font-weight: 300;
  border-right: 10px;
  transition: background 0.5s, transform 0.5s;
  border-radius: 10px;
  cursor: pointer;

}

.skills-list div i {
  font-size: 50px;
  margin-bottom: 3;
}

.skills-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px; 
}

.skills-list div h3 {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 15px; 
}

.skills-list div:hover {
  background: #4a86e8;
  transform: translateY(-10px);
}

/* Additional CSS for dropdown */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  align-items: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 1;
  align-items: center;
  min-width: 70px;
  left: 50%;
  transform: translateX(-50%);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  align-items: center;
  width: 70px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


/** Exp **/
#exp {
  padding: 30px 0;
}

.exp-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.exp-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  transition: background 0.5s, transform 0.5s;
  border-radius: 10px;
  cursor: pointer;

}

.exp-list div i {
  font-size: 50px;
  margin-bottom: 3;
}

.exp-list div img {
  height: 100px;
  margin-bottom: 20px;
  border-radius: 15%;
}

.exp-list company {
  font-style: italic;
}

.exp-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.exp-list div a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-top: 0px;
  display: inline-block;
}

.exp-list div:hover {
  background: #4a86e8;
  transform: translateY(-10px);
}

/** Projects **/
/** Exp **/
#proj {
  padding: 30px 0;
}

.proj-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.proj-list div {
  background: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  transition: background 0.5s, transform 0.5s;
  border-radius: 10px;
  cursor: pointer;

}

.proj-list div i {
  font-size: 50px;
  margin-bottom: 3;
}

.proj-list div img {
  height: 100px;
  margin-bottom: 20px;
  border-radius: 15%;
}

.proj-list company {
  font-style: italic;
}

.proj-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.proj-list div a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-top: 0px;
  display: inline-block;
}

.proj-list div:hover {
  background: #4a86e8;
  transform: translateY(-10px);
}

/** Blog **/

#blog {
  text-align: center;
  width: 700px;
  margin: auto;

}

.blog-sub-title {
  font-size: 60px;
  font-weight: 600;
  color:white;
  margin-bottom: 60px;
}

.blog-title {
  font-size: 30px;
  color:#4a86e8;
  text-align: left;
}

.blog-date {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.blog-line hr {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #262626;
}

#blog p {
  text-align: left;
}
